.login-wrapper{
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #000;
    max-width: 300px;
    text-align: center;
    background-color: greenyellow;
    border-radius: 14px;
    display: block;
    margin-top: 20%;
}

.login-wrapper input{
    width: 90%;
    font-size: 30px;
}

#psw{
    margin-bottom: none;
}

#usr{
    margin-bottom: 10px;
}

#desc{
    text-align: left;
    margin-left: 15px;
    font-size: 20px;
}

.login-wrapper button{
    font-size: 15px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 2px;
    width: 80%;
}


