.newproject-wrapper{
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #000;
    max-width: 300px;
    text-align: center;
    background-color: greenyellow;
    border-radius: 14px;
    display: block;
    margin-top: 20%;
}

.newproject-wrapper input{
    width: 90%;
    font-size: 30px;
    margin-bottom: 10px;
}

.newproject-wrapper button{
    font-size: 15px;
    padding: 10px;
    margin-top: 40px;
    border-radius: 2px;
    width: 80%;
}

.newproject-wrapper select{
    width: 91%;
    font-size: 30px;
    margin-bottom: 10px;
}

